Repository THE-SOPT-Joint-Seminar-ZEPETO/ZEPETO-iOS, pull requests merged in 2022-06, with the labels that each got.

#20 ✨ [FEAT] 게시글 작성 API 연결
  ZEPETO-iOS/ZEPETO-iOS.xcodeproj/project.pbxproj
  ZEPETO-iOS/ZEPETO-iOS/Network/APIManagers/BaseAPI.swift
  ZEPETO-iOS/ZEPETO-iOS/Network/APIManagers/FeedAPI.swift
  ZEPETO-iOS/ZEPETO-iOS/Network/APIModels/CreatePostResModel.swift
  ZEPETO-iOS/ZEPETO-iOS/Network/Services/FeedService.swift
  ZEPETO-iOS/ZEPETO-iOS/Screen/CreateUpload/VC/CreateUploadVC.swift
  ZEPETO-iOS/ZEPETO-iOS/Screen/Feed/VC/FeedVC.swift
Labels: 📡 Network, 🍎 Feature, 💜 은주 💜

#23 ✨ [FEAT] Feed 조회 서버 연결
  ZEPETO-iOS/ZEPETO-iOS.xcodeproj/project.pbxproj
  ZEPETO-iOS/ZEPETO-iOS/Global/Extension/UIImageView+.swift
  ZEPETO-iOS/ZEPETO-iOS/Network/APIManagers/FeedAPI.swift
  ZEPETO-iOS/ZEPETO-iOS/Network/APIModels/FeedGetResModel.swift
  ZEPETO-iOS/ZEPETO-iOS/Network/Services/FeedService.swift
  ZEPETO-iOS/ZEPETO-iOS/Screen/Feed/VC/FeedVC.swift
  ZEPETO-iOS/ZEPETO-iOS/Support/Info.plist
Labels: 📡 Network, 🍎 Feature, 💙 정연 💙

#24 🔨[FIX] 더보기 버튼 오류 수정
  ZEPETO-iOS/ZEPETO-iOS/Screen/Feed/VC/FeedVC.swift
Labels: 📱 View, 💙 정연 💙, ⚡️ HotFix
